@model MixStore.Models.HomeViewModel;
@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>

</head>

<body>
    <p>Hello from the View @Model.Message</p>
</body>

</html>